* {
    margin: 0;
    padding: 0;
    outline: none !important;
}

#podGraph {
    position: absolute;
    display: inline-block;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

#podGraph:focus,
#podGraph:active {
    cursor: grabbing;
}

#outlineContainer {
    position: absolute;
    overflow: hidden;
    top: 10px;
    right: 10px;
    background: transparent;
    border: solid 1px #bbb;
    opacity: 0.3;
    transform-origin: top right;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -ms-transform: scale(0.4);
    -o-transform: scale(0.4);
    transform: scale(0.4);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#outlineContainer:hover {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    /*background: rgba(255, 255, 255, 1);*/
}

#statusContainer {
    position: fixed;
    text-align: right;
    bottom: 15px;
    left: 0px;
    right: 10px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    /*opacity: 0.4;*/
}

#statusContainer:hover {
    opacity: 1;
}

#statusContainer button {
    margin: 0 5px;
    padding: 7px 12px;
    border: none !important;
    border-radius: 3px !important;
    cursor: pointer;
}
